.App {
  text-align: center;
}
.container{
 display:grid;

 grid-template: repeat(4,1fr) / repeat(3,1fr);

 grid-gap: 10px;

 height: 100vh;
}
.item{
background: #61dafb;
padding: 10px;
border:1px solid red;
grid-gap: 10px
}
.item:nth-of-type(1){
 background: blue;
 grid-column-start: 1;
 grid-column-end: 3;
}
.item:nth-of-type(8){
  background: blue;
  /* grid-column:1/span 2; */
  /*toma todas las columnas*/
  grid-column:1/-1;

 }
 .item:nth-of-type(7){
  background: blue;
  grid-column:2/4;
 }

.item .item{
  background: yellow;
}


